{% extends "base.html" %}

{% block title %}Cadastro de Usuário{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-lg-6">
    <div class="card shadow-sm">
      <div class="card-body">
        <h4 class="card-title mb-3">👤 Cadastro de Usuário</h4>

        <form method="post">
          {% csrf_token %}
          {{ form.non_field_errors }}

          {{ form.as_p }}

          <button class="btn btn-primary w-100" type="submit">
            💾 Criar conta
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
